.shadow-box-example {
	height: 150px;
	width: 150px;
	margin-left: 15px;
	background-color: #64b5f6;
}
#tOrderText {
	text-align: center;
	font-size: large;
}
#tOrderCount {
	text-align: center;
	font-size: large;
}
.DashboardComp {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.Shop_Content {
	width: 60%;
	margin-bottom: 30%;
	margin-left: 20%;
	margin-right: 20%;
	display: none;
}

#penBtn {
	margin-left: 40px;
}
