.mainContent {
	width: 50%;
	margin-left: 25%;
}

.btnSubmit {
	border: none;
	border-radius: 1.5rem;
	padding: 1%;
	margin-left: 35%;
	width: 30%;
	text-align: center;
	cursor: pointer;
	background: #0062cc;
	color: #fff;
}
.error {
	color: red;
}
